{% extends "users/base.html" %}
{% block body %}
{% if object.image_profile %}
    <img src="{{object.image_profile.url}}" alt="img" width="200px" height="200px">
{% endif %}
<table>
    <tr>
        <th>Nombre</th>
        <td>{{ object.first_name }}</td>
    </tr>
    <tr>
        <th>Apellido</th>
        <td>{{ object.last_name }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ object.email }}</td>
    </tr>
    <tr>
        <th>Teléfono</th>
        <td>{{ object.phone }}</td>
    </tr>
</table>
<p>
    <a class="button" href="{% url "user-edit" object.pk %}">Editar</a>
</p>

<form name="create_station" method="post" action="{% url 'user-delete' object.pk %}"
    onclick="return confirm('Esta seguro de eliminar este usuario?')">
    {% csrf_token %}
    <input class="error" type="submit" value="Eliminar" />
</form>

{% endblock %}