{% extends "users/base.html" %}
{% block body %}
<div class="">
  <table class="">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr height="50px">
          <td>
            {% if object.image_profile %}
            <img src="{{object.image_profile}}" alt="img" width="50px" height="50px">
            {% endif %}
          </td>
        <td><a href="{{ object.absolute_url }}">{{ object.full_name }}</a></td>
        <td>{{ object.email | default_if_none:"-" }}</td>
        <td>{{ object.phone | default_if_none:"-" }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
<p>
    <a class="button" href="{% url "user-create" %}">Crear usuario</a>
</p>
{% endblock %}